<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Nombre</mat-card-subtitle>
  </mat-card-header>
  <img
    matCardImage
    src="https://img.freepik.com/foto-gratis/adorable-perro-basenji-marron-blanco-sonriendo-dando-maximo-cinco-aislado-blanco_346278-1657.jpg?w=740&t=st=1695680119~exp=1695680719~hmac=3c190c1391242985d6020b55056cc6bf3b28ab5993e2e3e8dd05d0497e060aa3"
  />
  <mat-card-content> Text content </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button color="primary">Action1</button>
  </mat-card-actions>
</mat-card>
