<h1>
  Agregar animal
  <small></small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <div class="grid">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" required />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Edad</mat-label>
            <input matInput type="text" required />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Fecha ingreso</mat-label>
            <input matInput type="date" required />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Fecha adopción</mat-label>
            <input matInput type="date" required />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Prox visita veterinaria</mat-label>
            <input matInput type="date" required />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Cumpleaños</mat-label>
            <input matInput type="date" required />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Estado de salud</mat-label>
            <input matInput type="text" required />
          </mat-form-field>

          <div class="col-12" style="display: flex; align-items: center">
            <input type="checkbox" required />
            <p style="margin-left: 5px; margin-bottom: 0">Vacunado</p>
          </div>

          <div class="col-12" style="display: flex; align-items: center">
            <input type="checkbox" required />
            <p style="margin-left: 5px; margin-bottom: 0">Desparacitado</p>
          </div>

          <div class="col-12" style="display: flex; align-items: center">
            <input type="checkbox" required />
            <p style="margin-left: 5px; margin-bottom: 0">Castrado</p>
          </div>
        </div>

        <div class="flex justify-content-between">
          <button mat-flat-button color="warn">Borrar</button>

          <button mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- id: number;
name: string;
age: string;
arrivalDate: Date;
adoptedDate: Date;
healthCondition: string;
adoptedBy: string;
dewormed: boolean;
castration: boolean;
birthDate: Date;
vetVisitDate: Date;
image : string;
 -->
  <div class="col-12 sm:col-6">
    <mat-card>
      <img src="" alt="imagen del héroe" mat-card-image />
    </mat-card>
  </div>
</div>
